@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
}

.font-nunito-sans {
  font-family: "Nunito", sans-serif;
}



@keyframes dot-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-dot-bounce {
  animation: dot-bounce 0.8s infinite;
}

.animation-delay-150 {
  animation-delay: 150ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}
